@font-face {
  font-family: "uiicon";
  src: url('iconfont.eot?t=6bad181968eb07c32e6228d687aee17b'); /* IE9 */
  src: url('iconfont.eot?t=6bad181968eb07c32e6228d687aee17b#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=6bad181968eb07c32e6228d687aee17b') format('woff2'),
  url('iconfont.woff?t=6bad181968eb07c32e6228d687aee17b') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=6bad181968eb07c32e6228d687aee17b') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=6bad181968eb07c32e6228d687aee17b#iconfont') format('svg'); /* iOS 4.1- */
}

.uiicon {
  font-family: "uiicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Check-Circle:before {
  content: "\e001";
}
.icon-Calendar:before {
  content: "\e002";
}
.icon-Attachment:before {
  content: "\e003";
}
.icon-Down:before {
  content: "\e004";
}
.icon-Container:before {
  content: "\e005";
}
.icon-doubleright:before {
  content: "\e006";
}
.icon-Reload:before {
  content: "\e007";
}
.icon-Plus:before {
  content: "\e008";
}
.icon-Eye-Close:before {
  content: "\e009";
}
.icon-Exclaimination:before {
  content: "\e00a";
}
.icon-Check:before {
  content: "\e00b";
}
.icon-Warning-Circle:before {
  content: "\e00c";
}
.icon-Time:before {
  content: "\e00d";
}
.icon-doubleleft:before {
  content: "\e00e";
}
.icon-Right:before {
  content: "\e00f";
}
.icon-Download:before {
  content: "\e010";
}
.icon-Setting:before {
  content: "\e011";
}
.icon-plus-square:before {
  content: "\e012";
}
.icon-Upload:before {
  content: "\e013";
}
.icon-Up:before {
  content: "\e014";
}
.icon-Eye-Closebeifen:before {
  content: "\e015";
}
.icon-Search:before {
  content: "\e016";
}
.icon-Info-Circle:before {
  content: "\e017";
}
.icon-Close:before {
  content: "\e018";
}
.icon-Close-Circle:before {
  content: "\e019";
}
.icon-left:before {
  content: "\e01a";
}
.icon-User:before {
  content: "\e01b";
}
.icon-Minus-Square:before {
  content: "\e01c";
}
.icon-Check-Circle-Fill:before {
  content: "\e01d";
}
.icon-Close-Circle-Fill:before {
  content: "\e01e";
}
.icon-Info--Circle-Fill:before {
  content: "\e01f";
}
.icon-Question-Circle-Fill:before {
  content: "\e020";
}
.icon-Left-Disabled:before {
  content: "\e021";
}
.icon-Right-Selected:before {
  content: "\e022";
}
.icon-Sort:before {
  content: "\e023";
}
.icon-Sound-Off:before {
  content: "\e024";
}
.icon-StarUnselected:before {
  content: "\e025";
}
.icon-Star-Selected:before {
  content: "\e026";
}
.icon-Star-Half-Selected:before {
  content: "\e027";
}
.icon-Sound-On:before {
  content: "\e028";
}
.icon-Warning-Circle-Fill:before {
  content: "\e029";
}
.icon-403:before {
  content: "\e02a";
}
.icon-404:before {
  content: "\e02b";
}
.icon-500:before {
  content: "\e02c";
}
.icon-connect-err:before {
  content: "\e02d";
}
.icon-search-err:before {
  content: "\e02e";
}
