body {
  margin: 0;
  padding: 0;
}

 // 按钮样式 【i: 深蓝+白】
 .global_button_i {
  display: inline-block;
  height: 32px;
  line-height: 0px;
  font-size: 14px;
  background-color: #2E78FF;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
}

// 按钮样式 【ii: 浅蓝+蓝】
.global_button_ii {
  display: inline-block;
  height: 32px;
  line-height: 0px;
  font-size: 14px;
  background-color: #E0EBFF;
  color: #2E78FF;
  border: none;
  border-radius: 2px;
}
// 按钮样式 【iii: 灰色】
.global_button_iii {
  display: inline-block;
  height: 32px;
  line-height: 0px;
  font-size: 14px;
  background-color: #F3F3F3;
  color: #b8bcc4;
  border: none;
  border-radius: 2px;
}